<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width:device-width">
        <title>
            <%=titulo %>
        </title>
    </head>
    <body>
        <h1><%c titulo %></h1>

        <table border ="1">
           <tr>
                <td>Código</td>
                <td>Título</td>
                <td>Ano</td>
                <td>Gênero</td>
                <td>Ações</td>
           </tr> 

           <% registros.forEach(item => { %>

                <tr>
                    <td>  <%= item.livcodigo %></td>
                    <td>  <%= item.livtitulo %></td>
                    <td>  <%= item.livano %></td>
                    <td>  <%= item.gencodigo %></td>
                    <td> 
                         <a href="#">Alterar</a>
                         <a href="#">Excluir</a>
                        
                    </td>
                
                </tr>
           <% }); %>
        </table>
    </body>
</html>